html, body {
    height: 100%;
}

body {
    padding: 1rem;
}

.body-content {
    min-height: 100%;
    max-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.no-margin {
    margin: 0 !important;
}